@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sobre Nós";
}

<h2>@ViewData["Title"]</h2>
<p>Esta é a página sobre nós. Aqui, você pode conhecer nossas informações.</p>

