@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Clientes";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>
<p>Esta é a página de clientes.</p>
